.entry-page h1 {
  margin-left: 8rem;
}

.entry-page button {
  height: 3rem;
  width: 6rem;
  align-self: center;
}

.container {
  /* border: 1px solid black; */
}

.placeholder,
.inputs {
  height: 450px;
  width: 450px;
}

.placeholder {
  border: 1px solid black;
}

form input,
textarea {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid black;
}

form label {
  font-size: 1.25rem;
}

textarea {
  height: 10rem;
}
