.entry-page h1 {
  margin-left: 6rem;
  color: rgb(5, 121, 5);
  margin-bottom: 0.5rem;
}

.entry-page button {
  height: 3rem;
  width: 6rem;
  align-self: center;
}

.container {
  /* border: 1px solid black; */
}

.placeholder,
.inputs,
.placeholder img {
  height: 450px;
  width: 450px;
  background-color: white;
}

.placeholder {
  border: 1px solid black;
}

form input,
textarea {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid black;
}

form label {
  font-size: 1.25rem;
}

textarea {
  height: 10rem;
}

.entry {
  display: flex;
  border: 1px solid black;
  margin: 1.5rem 0;
}

.entry img {
  height: 500px;
  width: 500px;
  border-radius: 3rem;
}

.entry .data {
  width: 55%;
  border: 1px solid black;
}

.entry .data p,
.entry .data h1 {
  margin: 1rem auto;
  border: 1px solid black;
  width: 80%;
}

.data h1 {
  color: rgb(5, 121, 5);
}

.data .link {
  color: rgb(57, 165, 57);
  font-size: 1.25rem;
}

.data .tech-logos {
  width: 30px;
  height: 30px;
}
